@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #7C3AED;
  --color-surface: #fcf8ff;
  --color-surface-dim: #dcd8e5;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: #0f172a;
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
